@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Main_Layout";
    
    
}
<h1>Dashboard</h1>
<p>Logged in as @User.Identity.Name</p>
<!--<a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>-->
<!--<a class="nav-link text-dark btn" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>-->
