@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bug Tracker Demo</h1>
    <p>Click <a href="https://github.com/akins1/BugTracker">here</a> for the repository link.</p>
</div>
