@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Main_Layout";
}
<h1>Project {PROJECT_NAME}</h1>
<h2>Ticket {TICKET_ID}</h2>
<p>Logged in as @User.Identity.Name</p>